/* Main styles for password manager */
body {
    font-family: Arial, sherif;
    background-color: #FFFFFF;
    font-size: small;
    color: #020202;
}

a {
    text-decoration: none;
    color: #020202;
    transition: color .3s;
    -moz-transition: color .3s; /* Firefox 4 */
    -webkit-transition: color .3s; /* Safari and Chrome */
    -o-transition: color .3s; /* Opera */
}

a:hover, a.selected {
    color: #ea4848;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: inline-block;
}

h1 {
    font-size: large;
    margin-bottom: 20px;
}

input {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    height: 24px;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    border-radius: 2px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #909090;
}

input.btn {
    border: none;
    padding-bottom: 1px;
    padding-top: 1px;
}

span#suggestion {
    display: block;
    height: 20px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    padding-top: 8px;
    padding-bottom: 24px;
    border: none;
}

span#suggestion:hover {
    background: #E8E8E8;
}

#suggestions {
    text-align: left;
    width: 100%;
    margin-top: 0px;
    max-width: 300px;
    max-height: 98px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

#output {
    text-align: left;
    margin-top: 10px;
}

#wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#wrapper > div {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 2px 6px #CECECE;
    -moz-border-radius: 10x;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.select {
    width: 70%;
    height: 150px;
}

.select > p {
    text-align: right;
    margin-top: -5px;
}