/* Main styles for password manager */
body {
    font-family: Arial, sherif;
    background-color: #FFFFFF;
    font-size: small;
    color: #020202;
}

a {
    text-decoration: none;
    color: #020202;
    transition: color .3s;
}

a:hover, a.selected {
    color: #ea4848;
}

.icon {
    width: 1.5rem;
    aspect-ratio: 1/1;
    transition: transform .3s;
}
.icon:hover {
    transform: translateY(-2px);
}

h1 {
    font-size: large;
    margin: 0 0 20px 0;
}

input {
    width: 100%;
    max-width: 300px;
    height: 2rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    border-radius: 2px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #909090;
}

span#suggestion {
    display: block;
    height: 20px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 2px;
    border: none;
}

span#suggestion:hover {
    background: #E8E8E8;
}

#suggestions {
    text-align: left;
    width: 100%;
    margin-top: 0px;
    max-width: 300px;
    max-height: 98px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}

#output {
    text-align: left;
    margin-top: 10px;
}

#wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#wrapper > div {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    background-color: #F2F2F2;
    box-shadow: 2px 2px 6px #CECECE;
    -moz-border-radius: 10x;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.select {
    width: 70%;
    height: 150px;
}

.select .icons-group {
    text-align: right;
    margin: 2px;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .select {
        width: 80%;
        padding: 0 10px;
    }
    .icon {
        width: 1.6rem;
    }
}