{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1">

        <title>Memento</title>

        <link rel="stylesheet" type="text/css" href="{% static 'passwords/css/main.css' %}">

        <script type="text/javascript">
            var list = [{% for category in categories %}"{{ category }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
            var fetchDataUrl = "{% url 'fetch_data' %}";
        </script>
        <script type="text/javascript" src="{% static 'passwords/js/main.js' %}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="select">
                <p><a href="{% url 'logout' %}">Déconnecter</a></p>
                <h1>Memento</h1>

                <form name="search" onsubmit="return false;">
                    <input type="text" name="input" autocomplete="off" placeholder="Entrez un mot" oninput="handleSearch()" onfocus="selectChars(this)"/>
                </form>
                <div id="suggestions"></div>
                <div id="output"> </div>
            </div>
        </div>
    </body>
</html>