{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1">

        <title>Memento</title>

        <link rel="stylesheet" type="text/css" href="{% static 'passwords/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'passwords/css/login.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <div class="login-container">
                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}
                <form class="login-form" action="{% url 'check_login' %}" method="post">
                    {% csrf_token %}
                    <div class="field-group">
                        <input type="text" id="login" name="login" placeholder="login" required />
                    </div>
                    <div class="field-group">
                        <input type="password" id="password" placeholder="password" name="password" required />
                    </div>
                    <button type="submit" class="submit-btn">Valider</button>
                </form>
            </div>
        </div>
    </body>
</html>